<body>
    <form name="form1" action="https://jazzf-6874f.firebaseapp.com/" method="post">
    <input type="hidden" name="Emp_Name" value="Parkha Khattak" />
    <input type="hidden" name="Emp_ID" value="13939" />
    <input type="hidden" name="Department" value="People Experience" />
    <input type="hidden" name="Email" value="parkha.khattak@jazz.com.pk" />
    <input type="hidden" name="DOB" value="1965-05-15" />
    <input type="hidden" name="Gender" value="Female" />
    </form>

    <script type="text/javascript">
        window.onload = function () {
            this.form1.submit();
        }
    </script>
</body>